@{
    ViewBag.Title = "FAQ";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                FAQ
                <small>Frequently Asked Questions</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")

                </li>
                <li class="active">FAQ</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                How Do I Check Into My Flight?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseOne" style="height: 0px;">
                        <div class="panel-body">
                            Online flight check-in opens 24-48 hours before your flight departure. You'll need your 6-digit airline confirmation code (example: L84RTL) from your itinerary to check in.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                How Do I Cancel My Flight?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseTwo" style="height: 0px;">
                        <div class="panel-body">
                            You can cancel most flight bookings online. For some airfares, if you cancel within 24 hours, no penalty fees apply.
                            If you cancel a non-refundable flight reservation, the airline may issue you a flight credit for a future booking instead of a refund. 
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                How Do I View My Flight Booking Confirmation?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseThree">
                        <div class="panel-body">
                            After booking, you will receive a confirmation email from TripGuider that contains your itinerary number and trip details. If you need to email yourself a copy of your booking, select the Email icon in your itinerary and follow the instructions.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                How Do I Change My Flight or Make Modifications to My Reservation?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseFour">
                        <div class="panel-body">
                            If you booked in the last 24 hours, you may be able to cancel your flight and rebook your changes online without penalty. If you booked more than 24 hours ago and need to change your flight, please contact us. For Low-cost airlines, such as Frontier or Spirit, they require you to contact the airline directly to make changes to your flight.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseFive" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                Best Fare Price FAQ?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseFive">
                        <div class="panel-body">
                            When you book a flight on TripGuider we guarantee you have purchased the best fare that TripGuider offers for the airports and type of itinerary that you request. If you find that your exact same trip is at least $10 lower on another U.S.–based travel website, then we'll make it right by refunding you the difference.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseSix" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                How Far in Advance Can I Book Tickets?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseSix">
                        <div class="panel-body">
                            You can book a flight on TripGuider up to 331 days in advance.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseSeven" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                Will I Be Charged If I Change A Reservation?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseSeven">
                        <div class="panel-body">
                            Reservations Changed Past 24 Hours From The Departure Will Incur a $50 Ticket Change Charge. 
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseEight" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                Which Forms of Payment Can I Use?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseEight">
                        <div class="panel-body">
                            We accept most major credit and debit cards and a variety of other payment methods. Only one card can be used when you book on TripGuider.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseNine" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                Which Countries Can I Book Travel For?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseNine">
                        <div class="panel-body">
                            TripGuider Offers Comprehensive Domestic Travel Services to Major Cities Within the US.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>