@{
    ViewBag.Title = "Purchase Ticket";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Order Confirmation
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">OrderConfirmation</li>
            </ol>
        </div>
    </div>


    <div class="jumbotron text-xs-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
        <hr>
        <p>
            Having trouble? <a href="../Other/Faq">Contact us</a>
        </p>
        <p class="lead">
            <a href="../" class="btn btn-success">Continue to Homepage</a>
        </p>
    </div>


