@{
     ViewBag.Title = "View Flights";
}



<div class="container">
     <div class="row">
          <div class="col-lg-12">
               <h1 class="page-header">
                    Flight Listings
                    <small></small>
               </h1>
               <ol class="breadcrumb">
                    <li>
                         @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li class="active">Flights</li>
               </ol>
          </div>
     </div>

     <h2>Available Flights</h2>

     <table class="table">
          <thead>
               <th>Airline Carrier</th>
               <td>Flight#</td>
               <th>Flight Time</th>
               <th>Flight Duration</th>
               <th>Departure Code</th>
               <th>Arrival Code</th>
               <th>Price</th>
               <th>Plane Model</th>
               <th></th>

          <tr>
               <td>Delta</td>
               <td>#F2789</td>
               <td>10:57am - 11:44am</td>
               <td>1h 47m</td>
               <td>DTW</td>
               <td>PHL</td>
               <td>$660.00</td>
               <td>BOEING (DOUGLAS) MD-88</td>
               <td colspan="8"><a href="PurchaseTicket_" class="pull-right btn btn-success">Book!</a></td>
          </tr>

          <tr>
               <td>American Airlines</td>
               <td>#SW9984</td>
               <td>2:17pm - 4:02pm</td>
               <td>1h 45m</td>
               <td>DTW</td>
               <td>PHL</td>
               <td>$659.74</td>
               <td>MDC MD80</td>
               <td colspan="8"><a href="PurchaseTicket__" class="pull-right btn btn-success">Book!</a></td>
          </tr>

          <tr>
               <td>United</td>
               <td>#UF4469</td>
               <td>6:00am - 7:55am</td>
               <td>1h 55m</td>
               <td>DTW</td>
               <td>PHL</td>
               <td>$675.69</td>
               <td>Canadian Regional Jet 700</td>
               <td colspan="8"><a href="PurchaseTicket___" class="pull-right btn btn-success">Book!</a></td>
          </tr>

     </table>

    

