@{
    ViewBag.Title = "Home";
}
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('http://www.nlr.org/wp-content/uploads/2015/08/Aircraft-component-design-SFWA.jpg');"></div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://www.voglioviverecosi.com/wp-content/uploads/2017/07/mutui-estero-per-expat-1900x1080.jpg');"></div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://blueodysseymaldives.com/wp-content/uploads/2015/02/amariG-12.jpg');"></div>
            <div class="carousel-caption">
                <h1>
                </h1>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Flexible Options</h3>
                <p>Search Multiple Airline Carriers and Flight Routes to Suit Your Trip Needs. Book with Confidence Knowing TripGuider Representatives that are available 24/7 to assist with any issues.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i>Popular Locations</h3>
                <p>Many Popular Locations Throughout the US Serviced Including: Seattle, Chicago, and New York. See 'About' Page For More Details!</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i> Earn Bonus Points On Each Trip</h3>
                <p>Create an Account To Save Your Earned Points and Use Them for Future Trips and Popular Retailers. Access Your Flight Details and Gate Information.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>Why Us?</h2>
                <p>Choosing a trustworthy airline website can be a tough job … Let us convince you why this should no longer be the case. TripGuider offers a great service in its core competence areas. We strive to offer the best travel solutions and we endeavor to give you the personalized attention that you deserve, we bring together all the services that you might require together under one roof, all at an honest price. With state of the art website security, and our vast network of airline partners we offer the utmost flexibility for all your travel needs. </p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Popular Airline Partners</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://kajunkomputersolutions.com/images/delta.png">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="https://image.ibb.co/b4QjNw/american_airlines_template_1489180063375.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="https://image.ibb.co/chmxaG/southwest_airlines_co_logo_546dfb8fbe859.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="https://image.ibb.co/bOVepb/United_Airlines_2010_logo_1024x768.png">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="https://image.ibb.co/hvJzpb/Spirit_Airlines_logo_black_yellowno_tagline.png">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="https://image.ibb.co/mxWr2w/jetBlue.jpg">
                </a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->


<!-- /.section-colored -->

